#tabla_de_productos {
	width: 100%;
	border-collapse: collapse;
}

#tabla_de_productos th, td {
	padding: 15px;
	text-align: left;
}

#tabla_de_productos img {
	width: 222px;
	border-radius: 22px;
}

#tabla_de_productos tr {
  border-bottom: 1pt solid #7d6e4a;
}
