/*footer {
    display: flex;
    flex-direction: row;   
    justify-content: flex-start;                   
    gap: 22px;                                
    flex-wrap: wrap;
    align-items: flex-start;
    flex:auto;
    height: 200px;
  }

footer img {   
    object-fit: cover;
    width: 40px; 
    filter: invert(1);
}  
h3 {
    text-align: left;
}*/
.container-footer{
    width: 100%;
    padding: 40px 0;
    margin-top: 40px;
}
.container-footer footer{
    max-width: 100%;
    margin: auto;
}
.container-footer footer .logo-footer{
    text-align: center;
}
.container-footer footer .logo-footer img{
    width: 100px;
}
.container-footer footer .redes-footer{
    display: flex;
    justify-content: center;
    margin-top: 20px;
}
.container-footer footer .redes-footer .icon-redes-f{
    font-size: 20px;
    width: 40px; 
    margin: 20px;
    background-color: #514f4f;
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 100%;
    color: #141414;
}
.container-footer footer .redes-footer .fa-x-twitter:hover{
    background: rgb(244, 244, 240);
    color: black;
}
.container-footer footer .redes-footer .fa-instagram:hover{
    background: linear-gradient(top right,#FCDE30,#E9712A,#D2313B, #AE4198, #7540A1,#5443A8);
    color: #0a0a0a;
}

.container-footer footer .redes-footer .fa-facebook-f:hover{
    background: #41579A;
    color: rgb(248, 241, 241);
}
.container-footer footer hr{
    margin-top: 20px;
    border: none;
    height: 3px;
    background: #dcdbdb;
}
.container-footer footer h3{
    text-align: center;
    margin-top: 20px;
}