#main_footer {                                                           /*selecciona a main_header*/ 
    display: flex;                               /*hace q el container o sea main_footer en este caso sea una caja para cajitas pa elegir como se ordenan adentro las cajitas*/
    flex-direction: row;                      /*puede ser row o column que es cómo se ordenan dichas cajitas. Flex es responsive*/
    flex-flow: center;
    color: whitesmoke;

}                                          /*Pero la linea era solo para q la gran caja main_footer sea flex. Queremos q quien conitene a los botones tambien sea flex o sea q nav sea flex*/


   