p {
    font-family: 'Skranji', cursive;
    color: burlywood;
    text-align: justify;
}

h1 {
    font-family: 'Skranji', cursive;
    font-size: 300%;
    color: burlywood;
}

h2 {
    font-family: 'Skranji', cursive;
    font-size: 200%;
    color: burlywood;
}

li {
    font-family: 'Skranji', cursive;
    color: burlywood;
}

#main_wrapper {
    max-width: 1044px;
    width: 100%;  
    
}

body {
    align-items: center;
    display: flex;
    flex-direction: column;
    background-color: black;
    color: floralwhite;       /*Si quisiera cambiar solo el texto del header escribiria en el header, pero yo quiero q todo el documento tenga letras blancas. No aplicó a los botones porq por defecto los botones son azules*/
}
