h1 {
    font-size: 300%;  /*Borramos tipo de letra y color porque lo especificamos en el body*/
}

h2 {
    font-size: 200%;
}

li {
    font-family: 'Skranji', cursive;
    color: burlywood;
}

#main_wrapper {
    max-width: 1044px;
    width: 100%;  
    
}

body {
    align-items: center;
    display: flex;
    flex-direction: column;
    background-color: black;
    font-family: 'Skranji', cursive; /*Pa q todas las letras del body se vean iguales*/ /*No bajo la fuente en mi pc porq queremos un hipervinculo q este disponible en todo el mundo*/
    color: burlywood; /*Si quisiera cambiar solo el texto del header escribiria en el header (de hecho lo hice), yo quiero q todo el documento tenga letras beiges. No aplicó a los botones porq por defecto los botones son azules*/
    text-align: justify;
    padding-left: 33px;
    padding-right: 33px;
}

/*Ahora separamos los items del formulario y lo hacemos en main porque queremos que todos formularios se vean igual*/
form {     /*Targeteo el elemento form y todo lo que puse en el style lo copio acá abajo porque quiero q todos se vean iguales SOLO LO QUE ESTA ADENTRO DE STYLE -NO STYLE-*/
    display: flex; 
    flex-direction: column;
    gap: 16px;                      /*gap para separar los elementos del form*/
}

input:not([type="submit"]), select { /*Imput es el que usamos para insertar texto, también ponemos "select" porque para las pizzas pusimos que se elijan las opciones y qeremos que este fondo transparente se aplique a todo*/
                                     /*Ponemos "no Submit" para que este estilo no se aplique al submit, pues ese quiero q se vea diferente*/
    background-color: inherit;   
    color: inherit;   /*Le agregamos color -que es solo pal color de letra- porque se veia negra. ENtonces ponemos q herede el color de su padre*/
    font-family: inherit;  /*Y esto es para heredar el tipo de letra*/
    border: 2px solid burlywood;       /*Esto quiere decir que la linea de abajo "subrayada" de la respuesta sea 2px de grosor y color burlywood*/
    border-style: none none solid none;  /*Esto es para que el borde sea solo la línea inferior, no un cuadrado*/
                                        /*No puedo poner primero la linea 44 y luego la 43 porque me aparecen los 4 bordes. POr qué? porque el que manda es el último 
                                        y border 2px lo que me dice es que los 4 bordes sean 2px */
}




input[type="submit"] {
    font-family: inherit;
    font-size: 150%;
    background-color: burlywood;
    width: 100px;   /*No pongo porcentaje porqe no me importa que el boton cambie de tamaño; y si pongo 10% por ej el fondo del boton me queda más chico que la palabra "submit"*/
}

input[type="submit"]:hover {     /*hover es "poner encima" y esto es pa q cuando apoye el mouse se ilumine*/
    background-color: burlywood;   /*Esto es para que "se ilumine" o sea le cambio el color al apoyar el mouse -hover*/
}

@media screen and (max-width: 999px) {   /*qué pasa cuando la pantalla es angosta? Es como un nuevo archivo css que se va aplicar cuando se da esa condicion del ancho de la pantalla*/
    h1 {                                 /*hacemos esto para q se vea bien en el celular*/
        font-size: 200%;
    }
    h2 {
        font-size: 150%;
    }
    body {
        padding-left: 0;
        padding-right: 0;

    }
}

