<!DOCTYPE html>
<html>
    <head>
        <title>Zio Giulio alta de productos</title>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
        
        <link rel="stylesheet" href="css/header.css">       <!--al header lo llame main_header pa poder seleccionarlo a ese por si dsps agrego otro header-->
        <link rel="stylesheet" href="css/main.css">
        <link rel="stylesheet" href="css/productos.css"> <!--acá le estamos diciendo q use el archivo css-->
        <link rel="stylesheet" href="css/footer.css">

        <link rel="preconnect" href="https://fonts.googleapis.com">  <!--es el link de a fuente de google fonts. los 3 renglones-->
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Skranji&display=swap" rel="stylesheet">
        
        <meta content="width=device-width, initial-scale=1" name="viewport">
        <link rel="icon" type="image/x-icon" href="img/icon.png">

    </head>
    <body>
        <div id="main_wrapper">
            <header id="main_header"></header>

            <section>
				<h1>Alta de productos</h1>
				
				<div class="container" id="app">
					<form>
						<label for="nombre">Nombre</label>
						<input type="text" name="nombre" id="nombre" v-model="nombre">
						
						<label for="descripcion">Descripción</label>
						<input type="text" name="descripcion" id="descripcion" v-model="descripcion">
						
						<label for="imagen">Imagen</label>
						<input type="text" name="imagen" id="imagen" v-model="imagen">
						<img width="100" :src="imagen" alt="">
						
						<button type="button" class="btn btn-success" v-on:click="grabar()">Guardar</button>
					</form>
				</div>
            </section>

            <footer id="main_footer"></footer> <!--tiene q estar debajo del sectior pero adentro del div main wraper-->
        </div> <!--cierro el main wrapper-->
        
		<script src="js/header.js"></script> <!--acá estamos el script de javascript-->
		<script src="js/footer.js"></script>
		<script src="js/divisas.js"></script> <!--acá cito el javascript divisas-->
		<!-- Bootstrap JavaScript Libraries -->
		<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js" integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3" crossorigin="anonymous"></script>
		<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.min.js"	integrity="sha384-7VPbUDkoPSGFnVtYi0QogXtr74QeVeeIs99Qfg5YCF+TidwNdjvaKZX19NZ/e6oz" crossorigin="anonymous"></script>
		<script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
		<script src="js/productos.js"></script>
    </body>
</html>
