<!DOCTYPE html>
<html>
    <head>
        <title>Zio Giulio Menu</title>
        <link rel="stylesheet" href="css/header.css">       <!--al header lo llame main_header pa poder seleccionarlo a ese por si dsps agrego otro header-->
        <link rel="stylesheet" href="css/main.css">
        <link rel="stylesheet" href="css/productos.css"> <!--acá le estamos diciendo q use el archivo css-->
        <link rel="stylesheet" href="css/footer.css">

        <link rel="preconnect" href="https://fonts.googleapis.com">  <!--es el link de a fuente de google fonts. los 3 renglones-->
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Skranji&display=swap" rel="stylesheet">
        
        <meta content="width=device-width, initial-scale=1" name="viewport">
        <link rel="icon" type="image/x-icon" href="img/icon.png">

    </head>
    <body>
        <div id="main_wrapper">
            <header id="main_header"></header>

            <section>
                <div style="display: flex; flex-direction: row; justify-content: center; margin-bottom: 70px;"> <!--lo centramos a la imagen. Margin bottom es pa dejar espacio abajo-->
                    <img src="img/portada.jpg" style="width: 100%; max-width: 1700px;"> <!---acá metimos la imagen el img, luego ajustamos el tamaño con style inline porque solo está acá en prooductos esta foto -no como el header que está en todas-->
                </div>    <!---tenemos que crear un div porque queremos usar flex y flex son cajitas sí o sí-->
                            <!--como solo lo hacemos acá, lo hacemos con CSS inline en el div o sea e primer renglon-->
                
                <div id="app"> <!--no usamos id porq tal vez hayan varias gondolas y no sea UNICO-->
					<div v-if="error">
						<p>❌ Error: No se pueden cargar los productos</p>
					</div>
					<div v-else>
						<div v-if="cargando">
							<p>Cargando productos...</p>
						</div>
						<div v-else-if="!productos.length">
							No hay productos en la base de datos 😕
						</div>
						<div v-else>
                            <div class="gondola">
                                <div class="producto" v-for="producto in productos">
                                    <img :src="producto.imagen" :alt="producto.nombre">
                                    <div>
                                        <p class="titulo_de_producto">{{producto.nombre}}</p>
                                        <p class="descripcion_de_producto">{{producto.descripcion}}</p>
                                    </div>
                                </div>
                            </div>
						</div>
                    </div>
                </div> <!-- id="app" -->

                <div style="display: flex; flex-direction: row; justify-content: center;"> <!--este div lo agrego para hacer una caja violeta y tener una única caja naranja ("cotizaciones") que puedo centrar-->
                    <div id="Cotizaciones" style="margin-top: 100px; color: whitesmoke; ">
                        <span>Cotización divisas al día de la fecha</span>
                        <div style="display: flex; flex-direction: row; gap: 15px; flex-wrap: wrap;"> <!--eso de flex rap es para q si la pantalla es mas chiquita manda las divisas para abajo, para q sea responsive. Flex direction es si lo voy a ver en fila o columna-->
                            <span id="precio_USD"></span>   <!--pongo span en vez de p de párrafo porque así me quedan en un mismo renglón. El p me las mandaba una a cada renglon-->
                            <span id="precio_EUR"></span>
                            <span id="precio_BRL"></span>
                        </div>
                    </div>
                </div>

            </section>

            <footer id="main_footer"></footer> <!--tiene q estar debajo del sectior pero adentro del div main wraper-->
            

        </div> <!--cierro el main wrapper-->
		<script src="js/header.js"></script>
		<script src="js/footer.js"></script>
		<script src="js/divisas.js"></script>
		<!-- Bootstrap JavaScript Libraries -->
		<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js" integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3" crossorigin="anonymous"></script>
		<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.min.js"	integrity="sha384-7VPbUDkoPSGFnVtYi0QogXtr74QeVeeIs99Qfg5YCF+TidwNdjvaKZX19NZ/e6oz" crossorigin="anonymous"></script>
		<script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
		<script src="js/productos.js"></script>
    </body>
</html>
